@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');

body {
  margin: 0;
  font-family: 'Hind Madurai', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 99vh;
  max-width: 99vw;

  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 62.5%;
  font-family: 'Hind Madurai', sans-serif;
  background: #303036;
}

* {
  font-family: 'Hind Madurai', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #353535;
}

h2 {
  font-size: 3.2rem;
  color: white;
  text-shadow: 2px 2px 3px black
}

h3 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 3px black
}

h4 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 3px black
}

h5 {
  font-size: 2.0rem;
  color: white;
  text-shadow: 2px 2px 3px black
}

h6 {
  font-size: 1.8rem;
  color: white;
  text-shadow: 2px 2px 3px black
}

p{
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.8rem;
  margin-left: 5px;
  color: white;
  text-shadow: 2px 2px 3px black
}

input {
  width: 280px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 5px;
  font-size: 1.8rem;
}

button {
  margin: 5px;
}